# Dependency directories
/node_modules
/dist
/build
/coverage
/e2e/
.cache/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*



# Database
*.sqlite
*.sqlite3
/data/*.db

# Other
.idea/
.vscode/
.DS_Store
*.tsbuildinfo
